.contacts {
  width: 100%;
  margin-bottom: 6.6%;
  border-radius: 60px;
  background-color: $color-light-grey;
  display: flex;
  align-items: center;
  justify-content: center;

  @media #{$tablet-large} {
    flex-direction: column;
  }

  &__img {
    max-width: 880px;
    border-radius: 40px;
    overflow: hidden;

    @media #{$tablet-large} {
      width: 100%;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__text {
    width: 50%;
    padding: 80px;
    display: flex;
    flex-direction: column;


    @media #{$laptop-medium} {
      flex-shrink: 0;
      padding: 30px 20px;
    }

    @media #{$tablet-large} {
      width: 100%;
    }

    & h2.h2 {
      text-align: center;
    }

    & p {
      text-align: center;
      padding: 0;
      margin: 0 0 60px 0;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
      font-size: clamp(1.125rem, 0.9231rem + 0.8974vw, 2rem);
      color: $color-grey;
    }

    & .address, & .number-call, & .email, & .social {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 30px;

      & span {
        display: block;
        width: 100%;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: clamp(1.125rem, 0.9231rem + 0.8974vw, 2rem);
        color: $color-grey;
        margin-bottom: 12px;
      }

      & p, & a {
        text-align: start;
        display: block;
        width: 100%;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: clamp(1.125rem, 0.9231rem + 0.8974vw, 2rem);
        color: $color-dark-grey;
        margin-bottom: 0;
        text-decoration: none;

        &:hover {
          color: $color-grey2;
          transition: color 0.2s linear;
        }

        &:focus-visible {
          color: $color-orange-juice;
          transition: color 0.2s linear;
        }

        &:active {
          color: #3f3f3f;
          transition: color 0.2s linear;
        }
      }
    }

    & .social {
      flex-direction: row;
      max-width: 520px;
      align-items: center;
      margin-bottom: 0;

      & a {
        display: inline-flex;
        width: 64px;
        height: 64px;
      }
    }
  }
}