.customers {
  width: 100%;
  margin-bottom: 6.6%;

  & > div {
    width: 100%;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: clamp(1.125rem, 0.9231rem + 0.8974vw, 2rem);
    color: $color-grey;
    margin-bottom: 40px;

    & p {
      padding: 0;
      margin: 0;
    }
  }

  &__body {
    width: 100%;

    & ul {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, minmax(330px, 1fr));
      gap: 20px;
      padding: 0;
      margin: 0;
      list-style: none;

      @media #{$laptop-large} {
        grid-template-columns: repeat(3, minmax(330px, 1fr));
      }

      @media #{$laptop-small} {
        grid-template-columns: repeat(2, minmax(330px, 1fr));
      }

      @media #{$tablet-medium} {
        grid-template-columns:  minmax(300px, 1fr);
      }

      & li {
        min-height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;
        background-color: $color-light-grey;
        padding: 66px 10px;
      }
    }
  }
}