.slider {
  width: 100%;
  margin-bottom: 6.6%;

  & .mySwiper {
    width: 100%;
    min-height: 630px;
    //    position: relative;
    @media #{$tablet-large} {
      min-height: 450px;
    }

    & .swiper-wrapper {
      //      width: 100%;
      //
      & .swiper-slide.slide {
        border-radius: 40px;
        width: 1780px;
        min-height: 628px;
        height: auto;
        background-color: $color-light-grey;
        padding: 80px 80px 120px 80px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

        @media #{$tablet-large} {
          padding: 30px 10px 120px 10px;
          min-height: 450px;
        }
      }
    }

    & .swiper-pagination.slider-pagin {
      position: absolute;
      bottom: 80px;
      left: 0;
      background-color: transparent;
      height: 30px;

      @media #{$tablet-large} {
        bottom: 20px;
      }
    }

    .swiper-pagination.slider-pagin.swiper-pagination-bullets.swiper-pagination-horizontal {
      .swiper-pagination-bullet {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #dbdbdb;
        cursor: pointer;
        margin: 0 10px;
        transition: background-color .2s linear;

        @media #{$tablet-large} {
          width: 15px;
          height: 15px;
        }

        &:hover {
          background-color: $color-grey;
          transition: background-color .2s linear;
        }
      }

      .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: $color-orange-juice;
        transition: background-color .2s linear;
      }
    }
  }

  & h2.h2 {
    margin-bottom: 60px;
  }

  & .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media #{$laptop-small} {
      flex-direction: column;
    }

    &__left {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      max-width: calc((100% - 20px) / 2);

      @media #{$laptop-small} {
        max-width: 100%;
      }

      .title__num {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: clamp(2.5rem, 1.9231rem + 2.5641vw, 5rem);
        line-height: 100%;
        color: $color-dark-grey;
        margin-right: 40px;
      }

      & img {
        width: 72px;
        height: 72px;
        display: block;
        margin-right: auto;
      }

      & p {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: clamp(1.25rem, 0.8462rem + 1.7949vw, 3rem);
        line-height: 108%;
        color: $color-dark-grey;

        & b {
          width: 100%;
          margin: 0;
          padding: 0;
        }
      }
    }

    &__right {
      max-width: calc((100% - 20px) / 2);

      @media #{$laptop-small} {
        max-width: 100%;
      }

      & ol {
        margin: 0;
        display: flex;
        flex-direction: column;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: clamp(1rem, 0.8846rem + 0.5128vw, 1.5rem);
        color: $color-dark-grey;
        gap: 20px;

        @media #{$laptop-small} {
          width: 100%;
          padding-left: 20px;
        }
      }
    }
  }
}

